:root {
    --bg-color: rgb(245, 245, 245);
    --header-height: 5vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

header {
    background-color: var(--bg-color);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

header > div {
    /* background-color: yellow; */
    width: 20vw;
}

header > div:first-child {
    display: flex;
    gap: 10px;
}

header > div:last-child {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

header img {
    height: 100%;
}

form {
    display: flex;
}

form > input {
    border: 1px solid grey;
    font-size: 1em;
}

form > input[type='text'] {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 0 15px;
    width: 25vw;
}

form > input[type='submit'] {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 0 25px 0 20px;
    border-left: 0;
    cursor: pointer;
}

#cb-menu {
    display: none;
}

#cb-menu:checked + nav > a > span {
    display: none;
}

#cb-menu:checked + nav {
    width: 5vw;
}

#cb-menu:checked + nav > a {
    justify-content: center;
}

#cb-menu:checked ~ .container-categorias {
    left: 5vw;
}

#cb-menu:checked ~ .main {
    margin-left: 5vw;
} 

nav {
    background-color: var(--bg-color);
    position: fixed;
    left: 0;
    top: 5vh;
    bottom: 0;
    width: 12vw;
    display: flex;
    flex-direction: column;
}

nav > a {
    text-decoration: none;
    color: black;
    padding: 7px 14px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

nav > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav > div:first-of-type {
    margin-left: 14px;
}

.container-categorias {
    /* background-color: chartreuse; */
    position: fixed;
    top: var(--header-height);
    left: 12vw;
    right: 0;
    height: 4vh;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    background-color: var(--bg-color);
    z-index: 1000;
}

.container-categorias > div {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    cursor: pointer;
}

.main {
    margin-top: calc(var(--header-height) + 4vh);
    margin-left: 12vw;
    padding: 10px;
}

.container-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.video {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.video > .preview {
    height: 200px;
    background-color: aquamarine;
    border-radius: 10px;
    position: relative;
}

.preview .time {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 0.8em;
    position: absolute;
    bottom: 7px;
    right: 7px;
    display: none;
}

.preview:hover .time {
    display: block;
}

.video .data {
    display: flex;
    gap: 10px;
    position: relative;
}

.video .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.video .texts > div:first-child {
    font-size: 1.25em;
    font-weight: bold;
}

.video .texts > :not(div:first-child) {
    font-size: 0.9em;
    color: grey;
}

.container-video-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    position: absolute;
    top: -1vh;
    right: -1vh;
}

.container-video-menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-video-menu > div {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}


.menu-video {
    display: none;
    background-color: white;
    width: 10vw;
    height: auto;
    border-radius: 10px;
    position: absolute;
    top: 4vh;
    left: 0;
    z-index: 500;
    padding: 10px 0;
}

.menu-video > div {
    padding: 10px;
}

.menu-video > div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container-video-menu > input {
    display: none;
}

.container-video-menu > input:checked + .menu-video {
    display: block;
}

.icon-menu-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 50%;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

.icon-menu-container:hover {
    background-color: #f2f2f2;
}

.icon-menu-container > div {
    width: 50%;
    height: 2px;
    background-color: black;
}

.container-perfil {
    width: 4vh;
    height: 4vh;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sep {
    height: 1px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#bg-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    header > form {
        display: none;
    }

    header > div:first-child {
        width: 40%;
    }

    header > div:last-child {
        width: 60%;
    }

    nav {
        display: none;
    }

    #cb-menu:checked + nav {
        display: flex;
        width: 50vw;
        z-index: 1500;
    }

    #cb-menu:checked ~ #bg-mobile {
        display: block;
        position: fixed;
        z-index: 1500;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50vw;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #cb-menu:checked + nav > a > span {
        display: block;
    }
    
    #cb-menu:checked + nav > a {
        justify-content: flex-start;
    }

    .container-categorias {
        left: 0;
    }

    .main {
        margin-left: 0;
    }

    .container-videos {
        grid-template-columns: 1fr;
    }

    .menu-video {
        width: 60vw;
        left: auto;
        right: 0;
    }
}